{% extends 'loged_in_base.html' %}

{% block content %}
<h1>social</h1>
<a href="http://localhost:8000/user_social/follow_page/{{ user.id }}/following">following: {{ following }}</a>
<a href="http://localhost:8000/user_social/follow_page/{{ user.id }}/followers">followers: {{ followers }}</a>

<h1>Friends Decks</h1>
{% for i in decklist %}
<a href='http://localhost:8000/deck_search/deck_page/{{ i.id }}'>{{ i.deck_name }}</a> 
{% endfor %} 

<h1>follow User</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Follow</button>
</form>


{% endblock %}