<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css%} {% endblock %}
</head>
<body>
{% if messages %}
    {for message in messages}
        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div> 
{% endif %}
<nav>
    <button id='home' onclick="location.href='http://localhost:8000/'">Home</button>
    <button id="deack_search" onclick = "location.href='http://localhost:8000/deck_search/search_deck/'" >Search Decks</button>
    <button id="card_search" onclick = "location.href='http://localhost:8000/card_search/search/'" >Search Cards</button>
    <button id="about_us"  onclick = "location.href='http://localhost:8000/about/'">About</button>
    <button id="login"  onclick = "location.href='http://localhost:8000/login/'">login</button>
    <button id="sign_up" onclick = "location.href='http://localhost:8000/create_account/'" >Sign Up</button>
</nav>
{% block content %}{% endblock %}
</body>
</html>